**/.vs
**/.ionide
**/bin
**/obj
WordIterator/obj/Debug/WordIterator.exe
WordIterator/obj/Debug/WordIterator.pdb
WordIterator/obj/Debug/WordIterator.csprojAssemblyReference.cache
WordIterator/obj/Debug/WordIterator.csproj.FileListAbsolute.txt